<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="css/register.css">

</head>

<body>
    <h1>Register Account</h1>
    <div class="container-fluid row">
        <div class="col"></div>
        <div class="col logo">
            <img class="logo-img" src="images/ch4/logo.png" alt="" srcset="">
        </div>
        <div class="col"></div>

    </div>
    <div class="container-fluid row">
        <div class="col-5"></div>
        <div class="col">
            <form method="POST" action="/register">
                <div class="form-group">
                    <p>Username</p>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Enter Username">
                </div>
                <div class="form-group">
                    <p>Password</p>
                    <input type="password" name="password" class="form-control " id="password " placeholder="Enter Password ">
                </div>
                <button type="submit " class="btn btn-primary ">Submit</button>
            </form>
        </div>
        <div class="col-5 "></div>

    </div>



</body>

</html>